header {
    font-size: 18px;
}

#header-top {
    background: #FF9500;
    height: 55px;
    border-radius: 8px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-top img {
    margin-left: 23px;
}

#header--logo {
    background-image: url("../images/logo.svg");
    background-color: #FF9500;
    background-repeat: no-repeat;
    background-position: center;  /* lam giua anh*/
    height: 54px;
    width: 54px;
    border-radius: 8px;
    flex-shrink: 0;
}

#header-bottom {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #F1F1F3;
}

#header-bottom div {
    display: flex;
    align-items: center;
}

#header-bottom nav {
    margin-left: 50px;
    display: flex;
}

#header-bottom ul {
    display: flex;
    margin-left: 26px;
}

#header-bottom ul li {
    list-style: none;
    padding: 14px 24px;
}

#header-bottom ul li:hover {
    background: #F1F1F3;
    border-radius: 8px;
    padding: 14px 24px;
}

.header--sign {
    color: #262626;
    background-color: transparent;
}

#header--action a {
    text-decoration: none;
}

.header--login {
    padding: 14px 24px;
    margin-left: 30px;
    background: #FF9500;
    border-radius: 8px;
    color: #FFFFFF;
}

.header--menu
, .header--menu-close {
    display: none;
}

@media screen and (max-width: 768px) {
    #header-top {
        margin-top: 3.75rem;
        font-size: 14px;
    }

    #header-top span {
        margin: 10px auto 10px 16px;
    }

    #header-top img {
        margin: 10px 16px 10px auto;
    }

    #header-bottom div nav, .header--menu-close {
        display: none;
    }

    .header--menu {
        display: inline-block;
        background-image: url("../responsive/menu-icon.svg");
        background-repeat: no-repeat;
        background-position: center;
        height: 2.125rem;
        width: 2.125rem;
        margin-left: 1.25rem;
    }

    #toggle-menu:checked ~ header #header--action .header--menu {
        display: none;
    }

    #toggle-menu:checked ~ header #header--action .header--menu-close {
        display: inline-block;
        background-image: url("../responsive/x-mark.svg");
        background-repeat: no-repeat;
        background-position: center;
        height: 2.125rem;
        width: 2.125rem;
    }

    #toggle-menu:checked ~ header {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        background-color: #FFFFFF;
        width: 90%;
        height: 100%;
        z-index: 9999;
        border-radius: 50px 0 0 50px;
        margin: 0 auto;

    }

    #toggle-menu:checked ~ header #header-top {
        display: none;
    }

    /*#header-bottom {*/
    /*    margin-left: 19px;*/
    /*}*/

    /*#header-bottom {*/
    /*    margin-right: 8px;*/
    /*}*/

    #toggle-menu:checked ~ .modal-support-overlay {
        position: fixed;
        inset: 0;
        background: rgba(195, 194, 194);
        z-index: 999;
    }

    #toggle-menu:checked ~ header #header--action a {
        display: none;
    }

    #toggle-menu:checked ~ header #header-bottom div nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
        border: none;
    }

    #toggle-menu:checked ~ header #header-bottom div nav ul {
        position: fixed;
        width: 90%;
        top: 109px;
        right: 0;
        margin-right: 0;
        background: #FFFFFF;
        /*border-top: 1px solid #F1F1F3;*/
        display: block;
        text-align: center;
    }

    #header-bottom div nav ul li:first-child ~ li {
        margin-top: 20px;
    }

}
















