header {
    font-size: 18px;
    position: sticky;
    z-index: 9999;
    background: #F7F7F8;
}

#header-top {
    background: #FF9500;
    height: 55px;
    border-radius: 8px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-top img {
    margin-left: 23px;
}

#header--logo {
    background-image: url("../images/logo.svg");
    background-color: #FF9500;
    background-repeat: no-repeat;
    background-position: center;  /* lam giua anh*/
    height: 54px;
    width: 54px;
    border-radius: 8px;
    flex-shrink: 0;
}

#header-bottom {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #F1F1F3;
}

#header-bottom div {
    display: flex;
    align-items: center;
}

#header-bottom nav {
    margin-left: 50px;
    display: flex;
}

#header-bottom ul {
    display: flex;
    margin-left: 26px;
}

#header-bottom ul li {
    list-style: none;
    padding: 14px 24px;
}

#header-bottom ul li:hover {
    background: #F1F1F3;
    border-radius: 8px;
    padding: 14px 24px;
}

.header--sign {
    color: #262626;
    background-color: transparent;
}

#header--action a {
    text-decoration: none;
}

.header--login {
    padding: 14px 24px;
    margin-left: 30px;
    background: #FF9500;
    border-radius: 8px;
    color: #FFFFFF;
}

.header--menu
, .header--menu-close {
    display: none;
}

@media screen and (max-width: 768px) {
    #header-top {
        margin-top: 3.75rem;
        font-size: 14px;
    }

    #header-top span {
        margin: 10px auto 10px 16px;
    }

    #header-top img {
        margin: 10px 16px 10px auto;
    }


    .header--menu {
        display: inline-block;
    }

    #header-bottom div nav, .header--menu-close {
        display: none;
    }

    #toggle-menu:checked ~ header #header--action .header--menu
    , #toggle-menu:checked ~ header #header--action .header--sign
    , #toggle-menu:checked ~ header #header--action .header--login
    , #toggle-menu:checked ~ header #header-top {
        display: none;
    }

    #toggle-menu:checked ~ header #header--action .header--menu-close {
        display: inline-block;
    }

    #toggle-menu:checked ~ header {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        background-color: #FFFFFF;
        width: 70%;
        height: 100%;
        z-index: 9999;
        border-radius: 50px 0 0 50px;
        margin: 0 auto;
    }

    #toggle-menu:checked ~ .modal-support-overlay {
        position: fixed;
        inset: 0;
        background: #bcb4a1;
        z-index: 999;
    }

    #toggle-menu:checked ~ header #header-bottom  {
        padding : 50px 0 20px 20px;
    }

    #toggle-menu:checked ~ header #header-bottom div nav {
        display: block;
    }

    #toggle-menu:checked ~ header #header-bottom div nav ul {
        position: absolute;
        top:150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #toggle-menu:checked ~ header #header-bottom div nav ul li {
        width: 100%;
    }
}
















