
#hero {
    width: 965px;
    margin: 100px auto 0 auto; /* top = 100px, left/right = auto, bottom = 0 */
    /*background: #428701;*/
    text-align: center;
}

.hero--container--sub {
    display: flex;
    justify-content: center;
}

.hero--container--title {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-right: 30px ;
    position: relative;
    background: #FCFCFD;
    border: 1px solid #F1F1F3;
    border-radius: 11px;
}

.hero--container--title img {
    position: absolute;
    top: -30px;
    left: -24px;
}

.hero--icon {
    background-image: url("../icons/hero-icon.svg");
    background-color: #FFF4E5;
    background-repeat: no-repeat;
    background-position: center;  /* lam giua anh*/
    height: 62px;
    width: 62px;
    border-radius: 8px;
    margin: 19px 10px 19px 20px;
}

h1 {
    font-size: 48px;
    font-weight: 600;
}

h1 span {
    color: #FF9500;
}

.hero--container--body {
    margin-top: 20px;
}

.hero--container--body strong {
    font-size: 38px;
    font-weight: 500;
}

.hero--container--body p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
}

#hero--action {
    margin-top: 60px;
}

a {
    text-decoration: none;
    color: inherit;
    background: none;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
}

.hero--btn span {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    padding: 18px 24px;
    border-radius: 8px;
}

.btn-container span {
    background: #FF9500;
    color: #FFFFFF;
    border: 1px solid #FF9500;
    margin-right: 12px;
    font-weight: 600;
}

.btn--view span {
    background: #FFFFFF;
    color: #262626;
    border: 1px solid #F1F1F3;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    #hero {
        margin-top: 50px;
        width: 100%;
    }

    .hero--container--title img {
        position: absolute;
        top: -14px;
        left: -10px;
    }

    h1 {
        font-size: 16px;
        font-weight: 600;
    }

    .hero--container--body {
        margin-top: 16px;
    }

    .hero--container--body strong {
        margin: 30px auto;
        font-size: 24px;
        font-weight: 500;
    }

    .hero--container--body p {
        margin: 6px 30px 0 30px;
        font-size: 14px;
        font-weight: 400;
    }

}