* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Be Vietnam Pro", sans-serif;
}

body {
    background: #F7F7F8;
}

.test {
    height: 400px;
}

@media screen and (max-width: 767px) {
    html {

        font-size: 14px;
    }

    header {
        margin-left: 16px;
        margin-right: 16px;
    }

    main {
        margin-left: 16px;
        margin-right: 16px;
    }

}