*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lexend', sans-serif;
    background: #1A1A1A;
}
.container{
    width: 100%;
    min-width: min(1596px,100%);
    height: auto;
    padding: 0 162px;
    margin: 0 auto;
}

/* header */
header{
    position: sticky;
    top: 0;
    z-index: 100;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 34px;
    margin-top: 50px;
    border: 1px solid #262626;
    border-radius: 100px;
    background: #1C1C1C;
    margin-bottom: 53px;
}
.header__logo{
    display:flex;
    align-items: center;
}
.logo{
    width: 155px;
    height: 40px;
}
a{
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}
.header .navbar{
    margin: 0 auto;
}
.navbar ul{
    display: flex;
    gap: 26px;
}
.navbar__list li:hover{
    background-color:#262626;
}
/*.navbar__list li:nth-of-type(3){*/
/*    background-color:#262626;*/
/*}*/
li{
    list-style: none;
    border: 1px solid transparent;
    border-radius: 999px;
    padding: 12px 20px;
}
.action {
    gap: 30px;
    display: flex;
    align-items: center;
}
.action__btn:nth-of-type(2){
    padding: 14px 30px;
    background:#CAFF33;
    color: #1C1C1C;
    border-radius: 82px;
}

.navbar__list li:nth-child(5)
, .navbar__list li:nth-child(6) {
    display: none;
}

/* hero */
.hero__content{
    min-height: 816px;
    background-color: #1C1C1C;
    padding: 50px;
    display: flex;
    position: relative;
}
.sub__container{
    width: 100%;
    max-width: 791px;
    max-height: 579px;
    background-color: #1A1A1A;
    border-radius: 20px 0 80px 20px;
    padding: 80px;
    gap: 23px;
    z-index: 3;
    display: flex;
    flex-direction: column;
}
.sub__container__top p{
    font-size: 20px;
    line-height: 150%;
    color: #fff;
}
.sub__container__top h1{
    font-weight:500;
    font-size: 58px;
    line-height: 130%;
    color: #fff;
}
.sub__container p:last-child{
    font-weight:300;
    font-size: 18px;
    line-height: 150%;
    color: #B3B3B3;
}
.hero__content img:nth-of-type(1){
    position: absolute;
    right: 30px;
    max-width: 100%;
    z-index: 2;
}
.hero__content img:nth-of-type(2){
    position: absolute;
    max-width: 100%;
    z-index: 1;
    top: 0;
    right: 0;
}

/* main */
.container01{
    margin-top: 80px;
}
.container__text{
    width: 100%;
    height: 140px;
    margin-bottom: 80px;
    padding-right: 300px;
}
.container__text h2{
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    color: #CAFF33;
    margin-bottom: 14px;
}
.container__text p{
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #B3B3B3;
}
.container__sub{
    width: 100%;
    height: 1142px;
}
.container__sub01, .container__sub02{
    width: 100%;
    height: 621px;
    position: relative;
    display: flex;
}
.container__sub01--img{
    position: relative;
}
.container__sub01 img:first-child{
    border: 1px solid #262626;
    border-radius: 50px 50px 20px 20px;
}
.container__sub01--img::after{
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 50%;
    background-color: #CAFF33;
}
.container__sub01 img:nth-child(2){
    width: 100%;
    height: auto;
    opacity: 0.5;
    position: absolute;
    left: 0;
    border: 1px solid #262626;
    border-radius: 50px 50px 20px 20px;
}
.container__sub01 img:last-of-type {
    position: absolute;
    left: 10px;
    bottom: 0;
    padding: 20px 20px 0;
}
.container__sub02 img:first-child{
    border: 1px solid #262626;
    border-radius: 50px 50px 20px 20px;
}
.container__sub02--img::after{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 50%;
    background-color: #CAFF33;
}
.container__sub02 img:nth-child(2){
    width: 100%;
    height: auto;
    opacity: 0.5;
    position: absolute;
    right: 0;
    border: 1px solid #262626;
    border-radius: 50px 50px 20px 20px;
}
.container__sub02 img:last-of-type{
    position: absolute;
    left: 10px;
    bottom: 0;
    padding: 20px 20px 0;
}
.container__sub01--text{
    max-width: 932px;
    height: auto;
    align-self: center;
    padding: 0 0 0 50px;
}
.container__sub01--img, .container__sub02--img{
    position: relative;
}
.container__sub01--text h3, .container__sub02--text h3{
    font-weight: 500;
    font-size: 38px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 14px;
}
.container__sub01--text p, .container__sub02--text p{
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #B3B3B3;
    margin-bottom: 30px;
}
.container__sub02--text{
    max-width: 932px;
    height: auto;
    align-self: center;
    padding: 0 50px 0 0;
}
.container__sub02--img img:first-child{
    position: absolute;
    left: 0;
}
.container__sub02{
    z-index: 1;
    bottom: 100px;
}

/* press */
.container02{
    margin-top: 150px;
    margin-bottom: 150px;
}
.container02 h2{
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    color: #CAFF33;
    margin-bottom: 14px;
}
.container02 p{
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #B3B3B3;
}
.container__press{
    width: 100%;
    height: 1626px;
}
.press01, .press02{
    width: 100%;
    height: 798px;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}
.card{
    width: 783px;
    background: #262626;
    border-radius: 40px 40px 16px 16px;
}
.card img{
    padding: 30px 30px 51px;
}
.card__content{
    padding: 0 30px;
}
.card__content p{
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    padding: 0 30px;
}
.card__content--title{
    padding: 0 30px 30px;
}
.card__content--title h3{
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 20px;
    color: #fff;
}
.card__content--info{
    display: flex;
    gap: 10px;
    color: #B3B3B3;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
}
.card__content--date{
    border: 1px solid #262626;
    padding: 8px 16px;
    border-radius: 68px;
    background: #1A1A1A;
}

/* footer */
footer .container{
    background: #1C1C1C;
    padding: 100px 162px 50px;
}

.footer__heading{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
}

.footer__foot{
    height: 84px;
    background: #1A1A1A;
}
.footer__btn{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}
.footer__btn img{
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.footer__btn button{
    color: #E4E4E7;
}
.btn-reset {
    background: none;
    border: none;
    padding: 0;
    outline: none;
    cursor: pointer;
    font: inherit;
}
.footer__btn > div {
    display: flex;        /* Kích hoạt flexbox cho từng nhóm (icon + text) */
    align-items: center;
}
.footer__foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #262626;
    border-radius: 100px;
    padding: 16px 30px 16px 16px;
}
.foot__social{
    display: flex;
    gap: 14px;
    border-radius: 50px;
}
.social {
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 14px;
    background: #CAFF33;
    display: flex;
}
.footer__foot span{
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #B3B3B3;
}
.foot-container{
    gap: 12px;
}
.foot-container a{
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #B3B3B3;
}
.line{
    max-width: 1596px;
    width: 100%;
    border-top: 1px solid #262626;
    margin-bottom: 50px;
}

/* Ẩn checkbox */
#menu-btn {
    position: absolute;
    top: -100%;
    left: -100%;
}
.menu-icon {
    visibility: hidden;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}