.banner {
    margin-top: 9.375rem;
}
.banner__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 150px;
    position: relative;
    border-radius: 20px;
    border: 1px solid transparent;
    padding: 5rem;
    background: linear-gradient(0deg, #1C1C1C, #1C1C1C),
    linear-gradient(267.5deg, #1C1C1C 40.67%, rgba(28, 28, 28, 0) 99.81%);
    z-index: 0;
}
.banner__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.banner__text {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.banner__text h2{
    font-size: 2.5rem;
    font-weight: 400;
    color: #fff;
}
.banner__btn a {
    border-radius: 82px;
    font-weight: 400;
    color: #1C1C1C;
    width: 183px;
    display: flex;
    text-decoration: none;
    padding: 1.125rem 1.875rem;
    background-color: #CAFF33;
}
@media screen and (max-width: 991px) {
    .banner {
        margin-top: 7.5rem;
    }
    .banner__content {
        gap: 80px;
        padding: 2.75rem;
        text-align: center;
        flex-direction: column;
    }
    .banner__text {
        gap: 10px;
    }
    .banner__text h2 {
        font-size: 1.875rem;
    }
    .banner__img img {
        width: 202px;
    }
}
@media screen and (max-width: 767px) {
    .banner {
        margin-top: 5rem;
    }
    .banner__content {
        gap: 24px;
        text-align: center;
        flex-direction: column;
        padding: 1.875rem;
    }
    .banner__img img {
        width: 151px;
    }
    .banner__text h2 {
        font-size: 1.5rem;
    }
    .banner__btn a {
        padding: 0.75rem 1.5rem;
        font-size: 0.875rem;
        width: 100%;
    }
}