header {
    position: sticky;
    top: -50px;
    left: 0;
    right: 0;
    padding-top: 3.125rem;
    padding-bottom: 3.25rem;
    z-index: 10;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px;
    border: 1px solid #262626;
    padding: 1.25rem 2.125rem;
    background-color: #1C1C1C;
}

.logo {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.625rem;
}

.nav-list li {
    list-style: none;
}

.nav-list li a {
    text-decoration: none;
    padding: 0.75rem 1.25rem;
    color: #FFFFFF;
    font-weight: 400;
}

.nav-list li:hover a {
    border-radius: 82px;
    padding: 0.75rem 1.25rem;
    background-color: #262626;
}

.btn-cta {
    display: flex;
    align-items: center;
    gap: 1.875rem;
}

.btn-cta a {
    text-decoration: none;
}

.btn {
    border-radius: 82px;
    padding: 0.875rem 1.875rem;
    background-color: #CAFF33;
    font-weight: 400;
    color: #1C1C1C;
}

.btn--signup {
    border-radius: 0;
    padding: 0;
    background-color: transparent;
    color: #fff;
}

.menu-mobile {
    display: none;
}

@media screen and (max-width: 991px) {
    .container {
        max-width: 100%;
        padding: 0 24px;
    }
    .main-nav {
        padding: 0.875rem 1.5rem;
    }
    .logo img {
        width: 116px;
        height: 30px;
    }
    .nav-list {
        gap: 2px;
    }
    .nav-list li a {
        align-items: center;
        font-size: 0.875rem;
        padding: 0.75rem 0.75rem;

    }
    .nav-list li a:focus {
        border-radius: 82px;
        padding: 0.75rem 0.75rem;
        background-color: #262626;
    }

    .nav-list li:hover a {
        padding: 0.75rem 0.75rem;
    }
    .btn-cta {
        gap: 20px;
    }
    .btn-cta a {
        font-size: 0.875rem;
    }
    .btn--login {
        padding: 0.75rem 1.5rem;
    }
}

                                /*Mobile*/

@media screen and (max-width: 767px) {
    .container {
        width: 100%;
        padding: 0 16px;
    }

    .main-nav {
        padding: 0.875rem 0.875rem 0.875rem 1.5rem;
    }

    .logo img, .menu-mobile__logo {
        width: 101px;
        height: 26px;
    }

    .nav-list {
        display: none;
    }

    .btn-cta {
        display: none;
    }
    .menu-mobile {
        display: flex;
    }
    .btn--menu {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.375rem 0.875rem;
    }
    .menu-mobile__nav {
        display: none;
        flex-direction: column;
        gap: 1.625rem;
        max-width: 332px;
        width: 100%;
        position: fixed;
        top: 0;
        left: auto;
        right: 0;
        bottom: 0;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        padding: 0.625rem;
        background-color: #262626;
        z-index: 1;
    }
    .overlay {
        display: none;
        position: fixed;
        inset: 0;
        background-color: #1A1A1A;
        z-index: 0;
    }
    .menu-mobile__img {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #1A1A1A;
        padding: 0.875rem 0;
    }
    .menu-mobile__list {
        width: 100%;
    }
    .menu-mobile__list li {
        list-style: none;
        padding-bottom: 1.6rem;

    }
    .menu-mobile__list li a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        padding: 0.75rem 1.25rem;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 0.875rem;
    }
    .menu-mobile__list li a:focus {
        background-color: #1A1A1A;
        padding: 0.75rem 1.25rem;
    }
    #menu-toggle:checked ~ .menu-mobile__nav, #menu-toggle:checked ~ .overlay {
        display: flex;
    }


}
