.hero__content {
    position: relative;
    border-radius: 20px;
    padding: 3.125rem;
    background: #1C1C1C;
    z-index: -2;
}

.hero__text {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 791px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 80px;
    padding: 5rem;
    background-color: #1A1A1A;
}

.hero__title {
    font-weight: 500;
    font-size: 3.625rem;
    line-height: 1.3;
    color: #FFFFFF;
}

.hero__highlight {
    color: #CAFF33;
}

.hero__desc {
    color: #B3B3B3;
}

.hero__img {
    display: flex;
    justify-content: flex-end;
}

.hero__pattern {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

}

@media screen and (max-width: 991px)  {
    .hero__content {
        padding: 1.5rem;
        height: 750px;

    }
    .hero__pattern img {
        max-width: 334px;
    }
    .hero__text {
        max-width: 100%;
        text-align: center;
        bottom: 25px;
        left: 0;
        right: 0;
        margin: 0 auto;
        gap: 20px;
        border-radius: 20px;
        padding: 1.75rem;
    }
    .hero__title {
        font-size: 2.5rem;
    }
    .hero__desc {
        font-size: 1rem;
    }
    .hero__img img {
        width: 100%;
    }
    .hero__pattern img {
        width: 334px;
        height: auto;
    }
}
@media screen and (max-width: 767px)  {
    main {
        padding-bottom: 5rem;
    }

    .container {
        width: 100%;
        padding: 0 16px;
    }

    .hero__content {
        display: flex;
        flex-direction: column;
        padding: 0.875rem;
        height: 585px;
    }

    .hero__text {
        max-width: 100%;
        text-align: center;
        padding: 1.5rem;
        border-radius: 20px;
        gap: 0.875rem;
        bottom: 20px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .hero__title {
        font-size: 1.75rem;
    }

    .hero__desc {
        font-size: 0.875rem;
    }

    .hero__img {
        justify-content: center;
    }

    .hero__img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .hero__pattern img {
        width: clamp(199px, 35vw, 334px);
        height: auto;
    }
}
