* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "Lexend", sans-serif;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.5;
    background: #1A1A1A;
}

main {
    padding-bottom: 9.375rem;
}

.container {
    max-width: 1596px;
    margin: 0 auto;
}

.title {
    font-weight: 500;
    font-size: 3rem;
    color: #fff;
}

.desc {
    color: #B3B3B3;
}

.highlight {
    color: #CAFF33;
}
