* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}

html {
    background-image: url("../images/group-image.svg") ;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: auto;
    background-attachment: fixed;
    background-color: #1A1A1A;
    color: #FFFFFF;
    font-size: 16px;
}

/*body {*/
/*    padding-top: 100px;*/
/*}*/

.bg-color {
    background-color: #1A1A1A;
}

a {
    text-decoration: none;
    color: inherit;
    border: 1px solid transparent;
}

ul {
    list-style: none;
}

@media screen and (max-width: 992px) {
    .container {
        margin: 0 16px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        margin: 0 16px;
    }
}

