
.header__bar {
    max-width: 1600px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #262626;
    border-radius: 100px;
    background: #1C1C1C;
}

.header__logo {
    width: 34%;
    margin: 27px auto 27px 34px;
    flex-shrink: 1;
}

.header__nav {
    max-width: 33%;
    flex-shrink: 1;
}

.header__nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.625rem;
}

/*.header__nav ul li {*/
/*    background: #F1F1F3;*/
/*}*/
.header__nav ul li:hover {
    background: #262626;
    border-radius: 82px;
    /*border: 1px solid #262626;*/
}

.header__nav ul li a {
    display: block;
    padding: 0.875rem 1rem;
}

.header__active {
    width: 33%;
    display: flex;
    justify-content: end;
    margin: 20px 34px 20px auto;
    font-size: 18px;
    font-weight: 400;
}

.header__active--signup {
    padding: 0.875rem 1.875rem 0.875rem 0;
    /*background: #428701;*/
}

.header__active--login {
    padding: 0.875rem 1.875rem;
    background: #CAFF33;
    border-radius: 82px;
    color: #1C1C1C;
}


.header__active--icon {
    display: none;
    padding: 0.375rem 0.875rem;
    border-radius: 82px;
    background: #CAFF33;
}


.header__menu--close
, .header__menu--open {
    display: none;
}



/* * * Thiet bi Table & Mobile: @media screen and (max-width: 991px) * * */
@media screen and (max-width: 991px) {

}

/* * * Thiet bi Mobile: @media screen and (max-width: 767px) * * */
@media screen and (max-width: 767px) {
    .header__nav {
        display: none;
    }

    .header__active--signup
    ,.header__active--login {
        display: none;
    }

    .header__menu--open {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: #CAFF33;
        padding: 0.375rem 0.875rem;
        border-radius: 82px;
    }

    .header__menu--close {
        display: none;
    }
    #toggle-menu:checked ~ header .header__active .header__menu--open {
        display: none;
    }

    #toggle-menu:checked ~ header .header__active .header__menu--close {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: #CAFF33;
        padding: 0.375rem 0.875rem;
        border-radius: 82px;
        color: black;
    }

    #toggle-menu:checked ~ header {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        background-color: #262626;
        width: 90%;
        height: 100%;
        z-index: 9999;
        border-radius: 50px 0 0 50px;
        margin: 0 auto;
    }

    #toggle-menu:checked ~ .overlay {
        position: fixed;
        inset: 0;
        background: rgb(0, 0, 0);
        z-index: 999;
    }

    #toggle-menu:checked ~ header .header__bar nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
        border: none;
    }

    #toggle-menu:checked ~ header .header__bar nav ul {
        position: fixed;
        width: 90%;
        top: 200px;
        right: 0;
        margin-right: 0;
        display: block;
        text-align: center;
    }

    #toggle-menu:checked ~ header .header__bar {
        border-radius: unset;
    }


    #header__bar nav ul li:first-child ~ li {
        margin-top: 20px;
    }

    header .header__bar nav ul li:active {
        background: #1C1C1C;
        border-radius: unset;
    }
}

