.header {



}

.header__bar {
    max-width: 1600px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #262626;
    border-radius: 100px;
    background: #1C1C1C;
}

.header__logo {
    width: 34%;
    margin: 27px auto 27px 34px;
    flex-shrink: 1;
}

.header__nav {
    max-width: 33%;
    flex-shrink: 1;
}

.header__nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.625rem;
}

/*.header__nav ul li {*/
/*    background: #F1F1F3;*/
/*}*/
.header__nav ul li:hover {
    background: #428701;
    border-radius: 82px;
    /*border: 1px solid #262626;*/
}

.header__nav ul li a {
    display: block;
    padding: 0.875rem 1rem;
}

.header__active {
    width: 33%;
    display: flex;
    justify-content: end;
    margin: 20px 34px 20px auto;
    font-size: 18px;
    font-weight: 400;
}

.header__active--signup {
    padding: 0.875rem 1.875rem 0.875rem 0;
    background: #428701;
}

.header__active--login {
    padding: 0.875rem 1.875rem;
    background: #CAFF33;
    border-radius: 82px;
    color: #1C1C1C;
}


.header__active--icon {
    display: none;
    padding: 0.375rem 0.875rem;
    border-radius: 82px;
    background: #CAFF33;
}

@media (max-width: 767px) {
    html {
        font-size: 14px;
    }

    .header__nav {
        display: none;
    }

    .header__active--signup
    ,.header__active--login {
        display: none;
    }

    .header__active--icon {
        display: inline-block;
    }
}

/* tab */
@media (max-width: 991px) {
    html {
        font-size: 15px;
    }
}

/* Laptop */
@media (max-width: 1024px) {
    html {
        font-size: 16px;
    }
}


